{% extends 'base.html' %}

{% block title %}Shop List{% endblock title %}

{% block content %}
    <h2>My Favorite Shops</h2>
    {% if favorite_shops %}
        <ul>
            {% for shop in favorite_shops %}
                <li>
                    <h3>{{ shop.name }}</h3>
                    <p>{{ shop.address }}</p>
                    <!-- その他、表示したい情報 -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no favorite shops yet.</p>
    {% endif %}
{% endblock content %}
