{% extends 'base.html' %}

{% block title %}Shop Details{% endblock %}

{% block content %}
<h2>Shop Details</h2>
<div class="shopDetails">
    {% if shop %}
        <h2>{{ shop.name }}</h2>
        <img src="{{ shop.logo_image }}" alt="{{ shop.name }}" style="width: 100%; max-width: 300px; height: auto;">
        <p><strong>住所:</strong> {{ shop.address }}</p>
        <p><strong>アクセス:</strong> {{ shop.access }}</p>
        <p><strong>営業時間:</strong> {{ shop.open }}</p>
        <p><strong>平均予算:</strong> {{ shop.budget.name }} ({{ shop.budget.average }})</p>

        {% if user.is_authenticated %}
            <button onclick="addToFavorites('{{ shop.id }}')">お気に入りに追加</button>
        {% else %}
            <a href="{% url 'login' %}"><button>ログイン</button></a>
        {% endif %}
    {% else %}
        <p>店舗の詳細情報が見つかりませんでした。</p>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var shopId = "{{ shop.id }}";

    window.addToFavorites = function(shopId) {
        console.log('Shop ID:', shopId);
        const csrftoken = getCookie('csrftoken');

        fetch('/add_to_favorites/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'shopId': shopId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Added to favorites!');
            } else {
                alert('Failed to add to favorites: ' + data.message);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    };

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
{% endblock %}
